<!DOCTYPE html>
<html>
  <head>
    <title>Untitled</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-dark bg-primary">
    <!-- Navbar content -->
  </nav>

  <%= yield %>
  <noscript>You need to use JavaScript to run this application properly. Please install a browser like Chrome, Firefox or similar or enable JavaScript.</noscript>
  </body>
</html>
